html {height: 100%}
body { margin: 0; overflow:hidden; height:100%}
#viewerDiv {margin : auto auto; width: 100%; height: 100%; padding: 0;}

#menuDiv {
    position: absolute;
    top: 0;
    margin-left: 0;
}

#batchLegende {
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    color: white;
    font: 11px 'Lucida Grande',sans-serif;
    line-height: normal;
    text-shadow: 0 -1px 0 #111;
    padding: 0 1rem;
    background: #1a1a1a;
    border: 1px solid #2c2c2c;
    opacity: 0.8;

}
#batchInformationDiv {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    color: white;
    font: 11px 'Lucida Grande',sans-serif;
    line-height: normal;
    text-shadow: 0 -1px 0 #111;
    padding: 0 1rem;
    background: #1a1a1a;
    border: 1px solid #2c2c2c;
    opacity: 0.8;
}
#batchInformationDiv > p {
    margin: 0.5rem 0;
}

#batchInformationDiv > ul {
    padding: 0 1rem;
}

@media (max-width: 600px) {
    #menuDiv {
        display: none;
    }
}

.beware {
    color: red;
}