html {height: 100%}
body { margin: 0; overflow:hidden; height:100%}
#viewerDiv {margin : auto auto; width: 100%; height: 100%; padding: 0;}

@media (max-width: 600px) {
    #menuDiv {
        display: none;
    }
}